:host {
  display: block;
  min-height: 100dvh;
}

main {
  position: relative;
}

app-medusae.global-medusae {
  position: fixed;
  inset: 0;
  z-index: 0;
}

app-footer {
  position: relative;
  z-index: 10;
}
